body {
	margin: 0;
}

.container {
	height: 100vh;
	display: grid;
	justify-content: center;
	align-content: center;

}

.loader {
	position: relative;
}

img {
	height: 50px;
}

.logo {
	opacity: 0;
	position: absolute;
	left: 5px;
	transition: height 2s, opacity 2s;
}